*{
  margin: 0;
  padding: 0;
}
.main{
  width: 100%;
  height: 100ch;
  padding: 10px 20px;
  margin-left: 20%;
}
@media screen and (max-width: 390px){
  .main{
    margin-left: 50px;
    width: 100%;
  }
}
  

.name{
  width: 197px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 390px){
  .name{
    width: 30px;
    height: 52px;
  }
}
  

.name img{
  width: 52px;
  height: 52px;
}
@media screen and (max-width: 390px){
  .name img{
    width: 30px;
    height: 30px;
  }
  .name-text{
    margin-left: 5px;
    width: 30px;
  }
}
.name-text{
  margin-left: 10px;
}
.name-text h4,
.name-text h2{
  font-family: 'Montserrat' Arial, sans-serif;
  color: #B4B5C1;
  letter-spacing: 0.02em;
  font-weight: 700;
}
@media screen and (max-width: 390px) {
  .name-text h4,
  .name-text h2{
    font-size: 5px;
    line-height: 12px;
    font-weight: 300;
    letter-spacing: 0;
  }
}
.name-text h2{
  font-size: 32px;
  line-height: 39px;
}
.name-text h4{
  font-size: 24px;
  line-height: 29px;
}
.saving{
  width: 90%;
  height: 200px;
  background-color: #E2698D;
  margin-top: 20px;
  border-radius: 12px;
}
@media screen and (max-width: 390px){
  .saving{
    width: 60%;
    height: 160px;
    margin-top: 10px;
  }
}
.total{
  padding: 70px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 390px){
  .total{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:10px;
    align-items: flex-start;
  }
}
.detail h4{
  font-size: 14px;
  line-height: 17px;
  font-family: 'Montserrat' Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #FAFAFA;
}
.detail h2{
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-family: 'Montserrat' Arial, Helvetica, sans-serif;
  color: #FAFAFA;
  margin-top: 10px;
}
@media screen and (max-width: 390px){
  .detail h4{
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
  }
  .detail h2{
    font-size: 15px;
    line-height: 14px;
    margin-left: 5px;
    align-items: flex-end;
  }
  .detail{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
  
h2 span{
  text-decoration: line-through;
}
.hero{
  margin: 35px 0 15px;
}
@media screen and (max-width: 390px) {
  .hero{
    margin: 15px 0 5px;
  }
}
.hero h1{
  font-size: 32px;
  font-family: 'Montserrat' Arial, Helvetica, sans-serif;
  line-height: 39px;
  letter-spacing: -0.02em;
  color: #B4B5C1;
}
@media screen and (max-width: 390px) {
  .hero h1{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .hero h5{
    font-size: 8px;
    line-height: 5px;
    letter-spacing: 1px;
  }
}
.hero h5{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-family: 'Montserrat' Arial, Helvetica, sans-serif;
  color: #B4B5C1;
  font-weight: 300;
}
.box{
  width: 90%;
  height: 380px;
}
@media screen and (max-width: 390px){
  .box{
    width: 60%;
    height: 300px;
  }
  .grid{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.grid{
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
}
.grid-box{
  width: 280px;
  height: 120px;
  background-color: white;
  border-radius: 12px;
  padding: 5px 10px;
  position: relative;
}
@media screen and (max-width: 390px) {
  .grid-box{
    width: 100%;
    height: 90px;
    padding: 5px;
    margin-bottom: 10px;
  }
}
.grid-box.new{
  height: 150px;
  background-color: #E2698D;
}
.grid-box.new:nth-child(2){
  background-color: #265859;
}
.grid-box.new:last-child{
  background-color: #F2F1F3;
}
.box-image{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #C2EFF0;
  margin-right: 8px;
}
@media screen and (max-width: 390px) {
  .box-image{
    width: 35px;
    height: 35px;
    position: relative;
  }
}
.box-image img{
  padding: 25%;
}
.grid-box h4{
  width: 80%;
  position: absolute;
  top: 20px;
  left: 30%;
  font-size: 14px;
  color: black;
  font-family: 'Montserrat'Arial, Helvetica, sans-serif;
  letter-spacing: 0.02em;
  font-weight: 300;
}
@media screen and (max-width: 390px) {
  .grid-box h4{
    font-size: 14px;
    width: 80%;
    left: 30%;
    top: 2px;
    margin-top: 5px;
    margin-left: 5px;
  }
}
.grid-box .grid-price{
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
@media screen and (max-width: 390px) {
  .grid-box .grid-price{
    margin-top: 5px;
    margin-left: 5px;
  }
  .grid-price h2{
    font-size: 14px;
    line-height: 14px;
    margin-top: 5px;
    min-width: 70px;
  }
  .progress-bar{
    position: absolute;
    bottom: 7px;
    width: 50%;

  }
}
.grid-box .grid-price h2{
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  font-family: 'Montserrat' Arial, Helvetica, sans-serif;
  color: black;
  min-width: 125px;
}
.grid-price .progress-bar{
  width: 90%;
  height: 4px;
  border-radius: 2px;
  background-color: #F2F1F3;
  margin-top: 16px;
}
.progress-bar div{
  width: 40%;
  background-color: #265859;
  height: 4px;
  border-radius: 2px;
}
.new h2{
  font-family: 'Montserrat' Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  line-height: 20px;
  letter-spacing: -0.11px;
}
@media screen and (max-width: 390px) {
  .new h2{
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
    min-width: 70px;
  }
  .new h5{
    font-size: 8px;
    line-height: 3px;
    letter-spacing: -1px;
  }
}
.new h5{
  font-family: 'Montserrat' Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.11px;
  font-weight: 300;
  color: white;
  margin-top: 5px;
}
.new:last-child h2{
  color: #E2698D;
}
.new:last-child h5{
  color: #37474F;
}
.new img{
  position: absolute;
  top: 12px;
  right: 0;
  width: 120px;
  height: 120px;
}
@media screen and (max-width: 390px) {
  .new img{
    width: 100px;
    height: 100px;
    top: 5px;
    right: 5px;
  }
}
.new:first-child img{
  margin-right: 10px;
  top: 20%;
}
@media screen and (max-width: 390px) {
  .new:first-child img{
    margin-right: 5px;
    bottom: -50px;
    right: 5px;
  }
    .new:nth-child(2) img {
      margin-right: 5px;
      top: 40px;
      right: 5px;
    }
}
.btn{
  margin-top: 15%;
}
@media screen and (max-width: 390px) {
  .btn{
    margin-top: 25%;
  }
}
.btn button{
  position: relative;
  padding: 3px 5px;
  border: none;
  background-color: #E2698D;
  border-radius: 5px;
  font-family: 'Montserrat' Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #FBEAEF;
  line-height: 19.5px;
  letter-spacing: 2%;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
}
/* .btn::before{
  content: '';
  position: relative;
  width: 100%;
  right: -75px;
  top:0.5px;
  padding: 3px 5px;
  border-radius: 5px;
  z-index: -1;
  height: 28px;
  background-color: #FBEAEF; }*/

.btn span{
  margin-left: 5px;
  font-family: 'Montserrat' Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: #265859;
}
@media screen and (max-width: 390px) {
  .btn span{
    font-size: 12px;
    line-height: 14px;
  }
}
